services:
  dynamodb-local:
    image: "amazon/dynamodb-local:2.5.2"
    container_name: dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data"
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  sqs:
    image: softwaremill/elasticmq-native:1.6.1
    container_name: sqs-local
    ports:
      - "9324:9324" # SQS API
      - "9325:9325" # SQS Web UI
    volumes:
      - "./elasticmq.conf:/opt/elasticmq.conf"

    entrypoint:
      [
        "/sbin/tini",
        "--",
        "/opt/elasticmq/bin/elasticmq-native-server",
        "-Dconfig.file=/opt/elasticmq.conf",
      ]
